
.gitattributes
*.jpg
*.pth
*.zip
*.png
*.json
*.bin
*.npy
*.txt
dataset/nerf_synthetic/hotdog/.DS_Store
*.db
*.xml
*.pyc
*.blend
*.ini
dataset/nerf_example_data/nerf_synthetic/lego/.DS_Store
dataset/nerf_example_data/nerf_synthetic/lego/test/.DS_Store
.idea/.name
.idea/code.iml
2003.08934.pdf
