
.gitattributes
新建文件夹/load_blender.py
新建文件夹/run_nerf.py
新建文件夹/run_nerf_helpers.py
*.jpg
*.pth
*.zip
*.png
*.json
*.bin
*.npy
*.txt
dataset/nerf_synthetic/hotdog/.DS_Store
*.db
*.xml
*.pyc
*.blend
*.ini
dataset/nerf_example_data/nerf_synthetic/lego/.DS_Store
dataset/nerf_example_data/nerf_synthetic/lego/test/.DS_Store
original/dataset.py
original/import os.py
original/loss.py
original/nerf.py
original/options.py
original/renderer.py
original/run_nerf.py
original/test.py
original/train.py
original/utils.py
.idea/.name
.idea/code.iml
2003.08934.pdf
load_blender.py
run_nerf.py
run_nerf_helpers.py
